<include file="Common/header" />
		<h1>个人中心</h1>
		<!--内容部分start-->
		<div class="content">			
			<form action="/index.php?m=home&c=person&a=update&uid=<?=$_GET['uid']?>" method="post">
				<table align="center" width="500" height="60">
					<tr>
                        <th><i class="require-red"></i><strong>头像：</strong></th>
                        <td><img src="/<?=getSm($users['uface']);?>" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="uface" id="" type="file"></td>
                	</tr>
					<tr>
						<td><label><strong>用户名：</strong></label></td>
						<td><input type="text" name="uname" value="<?=$users['uname']?>"></td>
					</tr>
					<tr>
						<td><label><strong>性别：</strong></label></td>
						<td>
						<label><input type="radio" name="sex" id="w" <?php if($users['sex']=='w'){echo 'checked';} ?> >女</label>
						<label><input type="radio" name="sex" id="m" <?php if($users['sex']=='m'){echo 'checked';} ?> >男</label>
						<label><input type="radio" name="sex" id="x" <?php if($users['sex']=='x'){echo 'checked';} ?> >保密</label>
						</td>
					</tr>
					<tr>
						<td><label><strong>手机号：</strong></label></td>
						<td><input type="text" name="tel" value="<?=$users['tel']?>"></td>
					</tr>
					<tr>
						<td colspan="2">
							<input style="margin-left:65px;margin-top: 10px;" type="submit" value="修改">
							<input type="reset" value="重置">
						<td>
					</tr>
					
				</table>
			</form>
				
		</div>
		<!--内容部分end-->

<include file="Common/footer" />