<extend name="index/index" />
<block name="main">
	<div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/index.php?m=admin&c=index&a=index">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">作品管理</a><span class="crumb-step">&gt;</span><span>新增作品</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="index.php?m=admin&c=link&a=update&uid=<?=$links['uid'];?>" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>标题：</th>
                                <td>
                                    <input class="common-text required" id="title" name="title" size="50" value="<?=$links['title']?>" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>发布人：</th>
                                <td><input class="common-text" name="uname" size="50" value="<?=$links['uname']?>" type="text"></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>广告图：</th>
                                <td>
                                	<input name="pics" id="" type="file">
                                	<img src="<?=getSm($links['pics'])?>">
                                </td>
                            </tr>
                            <tr>
                                <th>内容：</th>
                                <td><textarea name="contents" class="common-textarea" id="content" cols="30" style="width: 98%;" rows="10"><?=$links['contents']?></textarea></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="修改" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
</block>